In [ ]:
# Assignment #7 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Brittany Errickson
</br>
Date: 4/3/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy/SQlConnector on our local server and locally on our machine.
<br>

Now we will populate and create **all** tables for our dataset into our database and finalize our ERR diagram.<br>

We created a database three different ways in our previous assignment; One database on our local MySQL server, one test database stored locally that integrates with MySQL and one test database stored only locally as a .db file on your machine. Now we will create all tables and populate your tables with your data from your dataset (Feel free to practice with all methods, but it is encouraged to use the first method that will allow you to create your schema diagram). After populating your database, create a visual database schema diagram in MySQL Workbench. <br>
<br>
Be sure to comment all code. Include a .png image of your database schema from MySQL Workbench in your Blackboard submission or Github repository.

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\bre19\anaconda3\lib\site-packages (9.2.0)

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\bre19\anaconda3\lib\site-packages (1.1.1)

In [5]:
import mysql.connector
import pymysql

print("MySQL Connector and PyMySQL are installed correctly!")

MySQL Connector and PyMySQL are installed correctly!

In [7]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [25]:


# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="Phantom05") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS redo")


print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

In [27]:
from sqlalchemy import create_engine

# Correct database URL
DATABASE_URL = "mysql+mysqlconnector://root:Phantom05@localhost/redo"

# Create an engine to connect to the MySQL database
engine = create_engine(DATABASE_URL)

# Test the connection
print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [13]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
# Specify the path to your CSV file
csv_file = 'cleaned_alzheimers_disease_data.csv' 
# Load the CSV file into a pandas DataFrame
disease = pd.read_csv(csv_file)

In [15]:
# Preview the dataframe by looking at the first five rows.
# Preview the dataframe by looking at the first five rows.

print(disease.head())

   patientid  age gender ethnicity educationlevel        bmi smoking  \
0       4751   73     no        no              2  22.927749      no
1       4752   89     no        no             no  26.827681      no
2       4753   73     no         3            yes  17.795882      no
3       4754   74    yes        no            yes  33.800817     yes
4       4755   89     no        no             no  20.716974      no

   alcoholconsumption  physicalactivity  dietquality  ...  memorycomplaints  \
0           13.297218          6.327112     1.347214  ...                no
1            4.542524          7.619885     0.518767  ...                no
2           19.555085          7.844988     1.826335  ...                no
3           12.209266          8.428001     7.435604  ...                no
4           18.454356          6.310461     0.795498  ...                no

  behavioralproblems       adl confusion disorientation personalitychanges  \
0                 no  1.725883        no             no                 no
1                 no  2.592424        no             no                 no
2                 no  7.119548        no            yes                 no
3                yes  6.481226        no             no                 no
4                 no  0.014691        no             no                yes

  difficultycompletingtasks  forgetfulness  diagnosis  doctorincharge
0                       yes             no         no       XXXConfid
1                        no            yes         no       XXXConfid
2                       yes             no         no       XXXConfid
3                        no             no         no       XXXConfid
4                       yes             no         no       XXXConfid

[5 rows x 35 columns]

In [17]:
#column names 
print(disease.columns)


#data types
print(disease.dtypes)

Index(['patientid', 'age', 'gender', 'ethnicity', 'educationlevel', 'bmi',
       'smoking', 'alcoholconsumption', 'physicalactivity', 'dietquality',
       'sleepquality', 'familyhistoryalzheimers', 'cardiovasculardisease',
       'diabetes', 'depression', 'headinjury', 'hypertension', 'systolicbp',
       'diastolicbp', 'cholesteroltotal', 'cholesterolldl', 'cholesterolhdl',
       'cholesteroltriglycerides', 'mmse', 'functionalassessment',
       'memorycomplaints', 'behavioralproblems', 'adl', 'confusion',
       'disorientation', 'personalitychanges', 'difficultycompletingtasks',
       'forgetfulness', 'diagnosis', 'doctorincharge'],
      dtype='object')
patientid                      int64
age                            int64
gender                        object
ethnicity                     object
educationlevel                object
bmi                          float64
smoking                       object
alcoholconsumption           float64
physicalactivity             float64
dietquality                  float64
sleepquality                 float64
familyhistoryalzheimers       object
cardiovasculardisease         object
diabetes                      object
depression                    object
headinjury                    object
hypertension                  object
systolicbp                     int64
diastolicbp                    int64
cholesteroltotal             float64
cholesterolldl               float64
cholesterolhdl               float64
cholesteroltriglycerides     float64
mmse                         float64
functionalassessment         float64
memorycomplaints              object
behavioralproblems            object
adl                          float64
confusion                     object
disorientation                object
personalitychanges            object
difficultycompletingtasks     object
forgetfulness                 object
diagnosis                     object
doctorincharge                object
dtype: object

In [17]:
#create lifestyle table

lifestyle_table_query = """CREATE TABLE IF NOT EXISTS lifestyle (
                            patientid INT PRIMARY KEY,
                            bmi Float,
                            smoking ENUM('yes', 'no'),
                            alcoholconsumption FLOAT,
                            physicalactivity FLOAT,
                            dietquality FLOAT,
                            sleepquality FLOAT
                        );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(lifestyle_table_query))

print("lifestyle table created successfully!")

lifestyle table created successfully!

In [17]:
#create background table

background_table_query = """CREATE TABLE IF NOT EXISTS background (
                        patientid INT PRIMARY KEY,
                        ethnicity VARCHAR(4),
                        age TINYINT(2),
                        gender VARCHAR(10),
                        educationlevel VARCHAR(4)
                    );"""

with engine.connect() as connection:
    connection.execute(text(background_table_query))

print("background table created!")

background table created!

In [19]:
# create medical history table


medical_history_table_query = """CREATE TABLE IF NOT EXISTS medical_history (
                            patientid INT PRIMARY KEY,
                            familyhistoryalzheimers ENUM('yes', 'no'),
                            cardiovasculardisease ENUM('yes', 'no'),
                            diabetes ENUM('yes', 'no'),
                            depression ENUM('yes', 'no'),
                            headinjury ENUM('yes', 'no'),
                            hypertension ENUM('yes', 'no')
                        );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(medical_history_table_query))

print("medical history table created successfully!")

medical history table created successfully!

In [21]:
# create clinical table

clinical_table_query = """CREATE TABLE IF NOT EXISTS clinical (
                            patientid INT PRIMARY KEY,
                            systolicbp INT,
                            diastolicbp INT,
                            cholesteroltotal FLOAT,
                            cholesterolldl FLOAT,
                            cholesterolhdl FLOAT,
                            cholesteroltriglycerides FLOAT
                        );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(clinical_table_query))

print("clinical table created successfully!")

clinical table created successfully!

In [23]:
#create functionality table

functionality_table_query = """CREATE TABLE IF NOT EXISTS functionality (
                            patientid INT PRIMARY KEY,
                            mmse FLOAT,
                            functionalassessment FLOAT,
                            memorycomplaints ENUM('yes', 'no'),
                            behavioralproblems ENUM('yes', 'no'),
                            adl FLOAT
                        );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(functionality_table_query))

print("functionality table created successfully!")

functionality table created successfully!

In [25]:
# create symptoms table

symptoms_table_query = """CREATE TABLE IF NOT EXISTS symptoms (
                            patientid INT PRIMARY KEY,
                            confusion ENUM('yes', 'no'),
                            disorientation ENUM('yes', 'no'),
                            personalitychanges ENUM('yes', 'no'),
                            difficultycompletingtasks ENUM('yes', 'no'),
                            forgetfulness ENUM('yes', 'no'),
                            diagnosis VARCHAR(100),
                            doctorincharge VARCHAR(100)
                        );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(symptoms_table_query))

print("symptoms table created successfully!")

symptoms table created successfully!

In [33]:
# populate lifestyle table



with engine.connect() as connection:
    # Make sure MySQL is using the correct database
    cursor.execute("USE redo;")


for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO lifestyle (patientid, bmi, smoking, alcoholconsumption, physicalactivity, dietquality, sleepquality)
        VALUES (%s, %s, %s, %s, %s, %s,%s)
        ON DUPLICATE KEY UPDATE
            bmi = VALUES(bmi),
            smoking = VALUES(smoking),
            alcoholconsumption = VALUES(alcoholconsumption),
            physicalactivity = VALUES(physicalactivity),
            dietquality = VALUES(dietquality),
            sleepquality = VALUES(sleepquality)
    """, (row['patientid'], row['bmi'], row['smoking'], row['alcoholconsumption'],
          row['physicalactivity'], row['dietquality'] , row['sleepquality']))

conn.commit()

In [39]:
#populate medical history table


with engine.connect() as connection:
    # Make sure MySQL is using the correct database
    cursor.execute("USE redo;")



for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO medical_history (patientid, familyhistoryalzheimers, cardiovasculardisease, diabetes, depression, headinjury, hypertension)
        VALUES (%s, %s, %s, %s, %s, %s,%s)
        ON DUPLICATE KEY UPDATE
            familyhistoryalzheimers = VALUES(familyhistoryalzheimers),
            cardiovasculardisease = VALUES(cardiovasculardisease),
            diabetes = VALUES(diabetes),
            depression = VALUES(depression),
            headinjury = VALUES(headinjury),
            hypertension = VALUES(hypertension)
    """, (row['patientid'], row['familyhistoryalzheimers'], row['cardiovasculardisease'], row['diabetes'],
          row['depression'], row['headinjury'] , row['hypertension']))

conn.commit()

In [31]:

# Populate the clinical 
for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO clinical (patientid, systolicbp, diastolicbp, cholesteroltotal, cholesterolldl, cholesteroltriglycerides)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            systolicbp = VALUES(systolicbp),
            diastolicbp = VALUES(diastolicbp),
            cholesteroltotal = VALUES(cholesteroltotal),
            cholesterolldl = VALUES(cholesterolldl),
            cholesteroltriglycerides = VALUES(cholesteroltriglycerides)
    """, (row['patientid'], row['systolicbp'], row['diastolicbp'], row['cholesteroltotal'], row['cholesterolldl'], row['cholesteroltriglycerides']))


conn.commit()

In [153]:
# populate functionality table


for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO functionality (patientid, mmse, functionalassessment, memorycomplaints, behavioralproblems, adl)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            mmse = VALUES(mmse),
            functionalassessment = VALUES(functionalassessment),
            memorycomplaints = VALUES(memorycomplaints),
            behavioralproblems = VALUES(behavioralproblems),
            adl = VALUES(adl)
    """, (row['patientid'], row['mmse'], row['functionalassessment'], row['memorycomplaints'],
          row['behavioralproblems'], row['adl']))

conn.commit()

In [149]:
#populate symptom table

with engine.connect() as connection:
    # Make sure MySQL is using the correct database
    cursor.execute("USE redo;")


for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO symptoms (patientid, confusion, disorientation, personalitychanges, difficultycompletingtasks, forgetfulness, diagnosis, doctorincharge)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            confusion = VALUES(confusion),
            disorientation = VALUES(disorientation),
            personalitychanges = VALUES(personalitychanges),
            difficultycompletingtasks = VALUES(difficultycompletingtasks),
            forgetfulness = VALUES(forgetfulness),
            diagnosis = VALUES(diagnosis),
            doctorincharge = VALUES(doctorincharge)
    """, (row['patientid'], row['confusion'], row['disorientation'], row['personalitychanges'], row['difficultycompletingtasks'], row['forgetfulness'], row['diagnosis'], row['doctorincharge']))

conn.commit()

In [151]:
#populate background table

for _, row in disease.iterrows():
    cursor.execute("""
        INSERT INTO background (patientid, ethnicity, age, gender, educationlevel)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            ethnicity = VALUES(ethnicity),
            age = VALUES(age),
            gender = VALUES(gender),
            educationlevel = VALUES(educationlevel)
    """, (row['patientid'], row['ethnicity'], row['age'], row['gender'], row['educationlevel']))


conn.commit()

In [35]:
#Close the database connection :)

# Close your connection :)
conn.close()

**MySQL Workbench**<br>
To export your database schema as a .PNG:<br>
->Go to your EER Diagram<br>
->File<br>
->Export<br>
->Export as .PNG