# Assignment #9 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Brittany Errickson
</br>
Date: 4/20/2025
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy on our local server and locally on our machine.
- Populated our databases with the data we cleaned at the start of the semester.
<br>

At this point, we have discussed all major statements used with SQL, but the possibilities are endless when it comes to data! Below we will explore some miscellaneous statements and tools that may be useful with your database.<br>

<br>

Read Chapter 7 & 10 in Getting Started with SQL by Thomas Nield available on Blackboard. <br>
A quick reference for SQL commands: https://www.w3schools.com/sql/default.asp <br>

Review the powerpoint and other readings specified on Blackboard in the Discussion Board.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source, especially when posting your assignments to Github.<br>

Feel free to use your preferred library and method for the exploration below. Now that all of our data is loaded onto the MySQL Workbench server, you can even take the assignment a step further and complete it all within SQL without Jupyter Notebook!<br>

Follow the instructions below to complete the assignment. Be sure to comment **all** code and answer **all** questions in markdown for full credit. Please submit this assignment with a link to it posted to your Github.<br>

**Data origin:**

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\bre19\anaconda3\lib\site-packages (9.2.0)

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\bre19\anaconda3\lib\site-packages (1.1.1)

In [4]:
import mysql.connector
import pymysql

print("MySQL Connector and PyMySQL are installed correctly!")

MySQL Connector and PyMySQL are installed correctly!

In [5]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation
import numpy as np # Populating our tables

In [9]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.
conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="Phantom05") # We wrote this password down in our first class!
# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()



#print("Database created successfully in MySQL Workbench! Go check it out.")

# Since my database is created now, I USE The database instead.
cursor.execute("USE redo")
print("Using the redo!")

Using the redo!

In [11]:
# Time to connect to the database using SQL Alchemy by creating an engine:


# Correct database URL
DATABASE_URL = "mysql+mysqlconnector://root:Phantom05@localhost/redo"

# Create an engine to connect to the MySQL database
engine = create_engine(DATABASE_URL)

# Test the connection
print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [13]:
# Write a query to list the table names of the database:
with engine.connect() as connection:
    show_tables_query = text("""
                            SELECT table_name
                            FROM information_schema.tables
                            WHERE table_schema = 'redo'
                              AND table_type = 'BASE TABLE';
                            """)  # Make sure the schema matches your database name

    tables = pd.read_sql(show_tables_query, connection)
    print(tables)

        TABLE_NAME
0       background
1         clinical
2    functionality
3        lifestyle
4         location
5  medical_history
6          product
7         symptoms

#### CASE Statements
Case statements are similar to the if-then-else statements in programming. The data that meets the case statements in the database will be returned. You start a CASE statement with the word CASE and conclude it with an END. Between those keywords, you specify each condition with a WHEN [condition] THEN [value], where the condition and the values are specified by you.

Nield, Thomas. Getting Started with SQL (p. 71). O'Reilly Media. Kindle Edition. <br>
<br>
Write your question you are answering with your data query. <br>
<br>
**How can we classify patients based on BMI into underweight, normal, overweight, or obese categories?:** 
<br>
**What tables are we joining? none:**

In [15]:
# query to clssify patients BMI status


# Open a connection to the database
with engine.connect() as connection:
    
    # Define the SQL query to classify BMI into categories
    bmi_case = text("""
        SELECT 
            patientid,     -- Select patient ID
            bmi,           -- Select BMI value
            CASE           -- Use CASE statement to categorize BMI
                WHEN bmi < 18.5 THEN 'Underweight'       -- BMI less than 18.5
                WHEN bmi BETWEEN 18.5 AND 24.9 THEN 'Normal'  -- BMI between 18.5 and 24.9
                WHEN bmi BETWEEN 25 AND 29.9 THEN 'Overweight' -- BMI between 25 and 29.9
                WHEN bmi >= 30 THEN 'Obese'              -- BMI 30 or more
                ELSE 'Unknown'                           -- If none match (e.g., NULL BMI)
            END AS bmi_category  -- Alias the result of CASE as 'bmi_category'
        FROM redo.lifestyle      -- Specify the table 
    """)

    # Execute the SQL query and load the result into a DataFrame
    bmi_query = pd.read_sql(bmi_case, connection)

# Output the resulting DataFrame
print(bmi_query)

      patientid      bmi bmi_category
0          4751  22.9277       Normal
1          4752  26.8277   Overweight
2          4753  17.7959  Underweight
3          4754  33.8008        Obese
4          4755  20.7170       Normal
...         ...      ...          ...
2144       6895  39.1218        Obese
2145       6896  17.8579  Underweight
2146       6897  15.4765  Underweight
2147       6898  15.2999  Underweight
2148       6899  33.2897        Obese

[2149 rows x 3 columns]

**CASE STATEMENT**
<br>
Write a second CASE statement!

Write your question you are answering with your data query. <br>
<br>
**Question:*“How does alcohol consumption vary by gender?* 
<br>
**What tables are we joining? lifestyle and background:**

In [37]:
#query to see how alchol consumption vaires by gender
with engine.connect() as connection:
    alcohol_gender_query = text("""
        SELECT 
            b.gender,
            AVG(l.alcoholconsumption) AS average_alcohol_consumption,
            CASE
                WHEN AVG(l.alcoholconsumption) > 10 THEN 'High Consumption' - greater than 10 high consumption
                WHEN AVG(l.alcoholconsumption) BETWEEN 5 AND 10 THEN 'Moderate Consumption' -5-10 moderate consumption
                WHEN AVG(l.alcoholconsumption) < 5 THEN 'Low Consumption' -less than 5 low consumption
                ELSE 'Unknown'
            END AS consumption_category
        FROM redo.background b
        JOIN redo.lifestyle l ON b.patientid = l.patientid
        GROUP BY b.gender;
    """)

    alcohol_gender_data = pd.read_sql(alcohol_gender_query, connection)

print(alcohol_gender_data)


#no is male, #yes is female

  gender  average_alcohol_consumption consumption_category
0     no                    10.014202     High Consumption
1    yes                    10.064055     High Consumption

**CASE STATEMENT**
<br>
Write a third CASE statement!


How can we assess patient risk levels for Alzheimer's based on age and family history?
<br>
**Question:** 
<br>
**What tables are we joining? (background, medical_history):**

In [33]:

with engine.connect() as connection:
    
    # Defining the SQL query to retrieve patient data, including age and family history of Alzheimer's
    family_query = text("""
    SELECT 
        b.patientid,  -- Selecting the patient's ID
        b.age,        -- Selecting the patient's age
        m.familyhistoryalzheimers,  -- Selecting whether the patient has a family history of Alzheimer's
        CASE 
            WHEN b.age >= 75 AND m.familyhistoryalzheimers = 'yes' THEN 'High Risk'  -- High risk if age >= 75 and family history is 'yes'
            WHEN (b.age BETWEEN 65 AND 74) OR m.familyhistoryalzheimers = 'yes' THEN 'Moderate Risk'  -- Moderate risk if age between 65-74 or family history is 'yes'
            ELSE 'Low Risk'  -- Low risk if none of the above conditions apply
        END AS RiskCategory  -- Creating a new column to categorize risk
    FROM 
        background b  -- From the 'background' table, which contains patient data
    JOIN 
        medical_history m ON b.patientid = m.patientid  -- Joining with the 'medical_history' table on the patient ID
    LIMIT 25;  -- Limiting the results to the first 25 records
    """)

    # Executing the query and reading the results into a pandas DataFrame
    family = pd.read_sql(family_query, connection)

# Printing the resulting DataFrame to view the query results
print(family)

    patientid  age familyhistoryalzheimers   RiskCategory
0        4751   73                      no  Moderate Risk
1        4752   89                      no       Low Risk
2        4753   73                     yes  Moderate Risk
3        4754   74                      no  Moderate Risk
4        4755   89                      no       Low Risk
5        4756   86                      no       Low Risk
6        4757   68                      no  Moderate Risk
7        4758   75                      no       Low Risk
8        4759   72                      no  Moderate Risk
9        4760   87                      no       Low Risk
10       4761   89                      no       Low Risk
11       4762   78                      no       Low Risk
12       4763   84                     yes      High Risk
13       4764   78                     yes      High Risk
14       4765   64                      no       Low Risk
15       4766   69                      no  Moderate Risk
16       4767   63                      no       Low Risk
17       4768   65                      no  Moderate Risk
18       4769   72                      no  Moderate Risk
19       4770   68                      no  Moderate Risk
20       4771   82                      no       Low Risk
21       4772   65                      no  Moderate Risk
22       4773   82                      no       Low Risk
23       4774   82                      no       Low Risk
24       4775   64                      no       Low Risk

**NULL**
<br>
As with all data, NULL values are fields with no data. Null data can be useful to know with the INSERT INTO statement below.

Find the NULL data within your database. Write your question you are answering with your data query. <br>
<br>
**Question:* Select all entries from the background table where the ethincity name is blank*  
<br>

In [45]:

# Establishing a connection to the database using `with engine.connect()`
with engine.connect() as connection:
    
    # Writing the SQL query to select all columns from the 'background' table
    # where the 'ethnicity' column is NULL.
    null_query = text("""
        SELECT *  -- Select all columns from the table
        FROM background  -- From the 'background' table
        WHERE ethnicity IS NULL  -- Only include records where ethnicity is NULL
        LIMIT 10;  -- Limit the number of records to 10
    """)

    # Executing the query and storing the result in a pandas DataFrame
    null = pd.read_sql(null_query, connection)

# Output the resulting DataFrame with the data
null

# no blanks

Empty DataFrame
Columns: [patientid, ethnicity, age, gender, educationlevel]
Index: []

**INSERT INTO**
<br>
You can insert new records into a table as needed using the INSERT INTO statement. If you choose to populate a table with certain records and not others, the rest of the fields will remain empty/NULL.
<br>
For INSERT INTO, we are not querying the database, instead we are ADDING to it. We do not need to use dbGetQuery(), but instead, dbExecute()!
<br><br>
**Objective:*adding a new patient to background table* 
<br>
**What table(s) are we adding a record to?*  background*

In [49]:

# Define the data to be inserted
patient_id = 1234  # The patient ID
ethnicity = '2'    # For Asian (assuming '2' represents the ethnicity code for Asian)
age = 70           # Age of the patient
gender = '0'       # Gender code ('0' might represent male, depending on your schema)
education_level = 2  # Bachelor's degree (assuming '2' represents Bachelor's degree)

# Assuming 'engine' is your SQLAlchemy engine
with engine.connect() as connection:  # Opening a database connection
    # Write the SQL insert query to add a new record to the 'background' table
    insert_query = text("""
    INSERT INTO background (patientid, ethnicity, age, gender, educationlevel)
    VALUES (:patientid, :ethnicity, :age, :gender, :educationlevel)
    """)
    
    # Execute the insert statement, passing the data as parameters
    connection.execute(insert_query, 
                       {'patientid': patient_id, 
                        'ethnicity': ethnicity, 
                        'age': age, 
                        'gender': gender, 
                        'educationlevel': education_level})
    
    # Confirmation message
    print("New record inserted successfully.")

New record inserted successfully.

In [ ]:

**Question:* "How do minimum and maximum BMI values vary across different patient lifestyle categories defined by smoking and alcohol consumption habits?"* 
<br>
**What table(s) are we joining?* none*

In [99]:

# Establishing a connection to the database
with engine.connect() as connection:
    
    # SQL query to retrieve smoking status, alcohol consumption, and the min/max BMI
    smoking_query = text("""
        SELECT 
            smoking,  -- Smoking status (assumed to be a column in 'lifestyle' table)
            alcoholconsumption,  -- Alcohol consumption level (assumed to be a column in 'lifestyle' table)
            MIN(bmi) AS MinBMI,  -- Minimum BMI for each group
            MAX(bmi) AS MaxBMI   -- Maximum BMI for each group
        FROM 
            lifestyle  -- From the 'lifestyle' table
        GROUP BY 
            smoking, alcoholconsumption;  -- Group by smoking status and alcohol consumption level
    """)

    # Execute the query and load the results into a pandas DataFrame
    smoking = pd.read_sql(smoking_query, connection)

# Print the resulting DataFrame
print(smoking)

     smoking  alcoholconsumption   MinBMI   MaxBMI
0         no            13.29720  22.9277  22.9277
1         no             4.54252  26.8277  26.8277
2         no            19.55510  17.7959  17.7959
3        yes            12.20930  33.8008  33.8008
4         no            18.45440  20.7170  20.7170
...      ...                 ...      ...      ...
2144      no             1.56113  39.1218  39.1218
2145      no            18.76730  17.8579  17.8579
2146      no             4.59467  15.4765  15.4765
2147      no             8.67451  15.2999  15.2999
2148      no             7.89070  33.2897  33.2897

[2149 rows x 4 columns]

Combine CASE statement with Min() and Max() for a more detailed query of your data:
<br><br>
**Question:* "How do minimum and maximum BMI values vary across different patient lifestyle categories defined by smoking and alcohol consumption habits?"* 
<br>
**What table(s) are we joining?* none*

In [59]:



with engine.connect() as connection:
    smoking_query = text("""
        SELECT 
            CASE 
                WHEN smoking = 'yes' AND alcoholconsumption > 0 THEN 'Smoker + Drinker'
                WHEN smoking = 'yes' AND alcoholconsumption = 0 THEN 'Smoker Only'
                WHEN smoking = 'no' AND alcoholconsumption > 0 THEN 'Drinker Only'
                ELSE 'None'
            END AS LifestyleCategory,
            MIN(bmi) AS MinBMI,
            MAX(bmi) AS MaxBMI
        FROM 
            lifestyle
        GROUP BY 
            LifestyleCategory
    """)

    # Execute the query and load the result into a DataFrame
    smoking = pd.read_sql(smoking_query, connection)

# Print the resulting DataFrame
print(smoking)

  LifestyleCategory   MinBMI   MaxBMI
0      Drinker Only  15.0089  39.9928
1  Smoker + Drinker  15.0147  39.9815

**MIN() and MAX()** <br>
AVG() will take the average of a numeric field.

**Question:** 
<br> What is the average result for confusion, disorientation, difficulty completing tasks, and forgetfullness when a patient has alzheimers?

In [67]:


with engine.connect() as connection:
    avg_query = text("""
        SELECT 
            AVG(CASE WHEN confusion = 'yes' THEN 1 ELSE 0 END) AS AvgConfusion,
            AVG(CASE WHEN disorientation = 'yes' THEN 1 ELSE 0 END) AS AvgDisorientation,
            AVG(CASE WHEN personalitychanges = 'yes' THEN 1 ELSE 0 END) AS AvgPersonalityChanges,
            AVG(CASE WHEN difficultycompletingtasks = 'yes' THEN 1 ELSE 0 END) AS AvgDifficultyCompletingTasks,
            AVG(CASE WHEN forgetfulness = 'yes' THEN 1 ELSE 0 END) AS AvgForgetfulness
        FROM 
            symptoms
        WHERE 
            diagnosis = 'yes';
    """)

    # Execute the query and load the result into a DataFrame
    avg = pd.read_sql(avg_query, connection)

# Print the resulting DataFrame
print(avg)

   AvgConfusion  AvgDisorientation  AvgPersonalityChanges  \
0        0.1947             0.1461                 0.1408

   AvgDifficultyCompletingTasks  AvgForgetfulness
0                        0.1632            0.3013

Although this query gives us a quick answer, as a stand alone data frame, it is not that useful. We can add it to our longer query above. <br><br>
**Aliases (AS)**
<br>
You can abbreviate your code to make it more visually appealing...or more confusing? :) <br>
<br>
Examples:<br>
FROM table_name t<br>
FROM table_name AS t<br>
<br>
**Objective:** Use abbreviations or aliases for all tables for the same code you wrote above (If you have not done so already). Be sure to obtain the same result set.

question:
"Are individuals diagnosed with Alzheimer's more likely to exhibit lower physical activity levels compared to those not diagnosed?"

In [97]:


with engine.connect() as connection:
    # SQL query to categorize patients based on physical activity and diagnosis
    query = text("""
        SELECT 
            l.patientid,  # Select the patient ID from the lifestyle table
            l.physicalactivity,  # Select physical activity level from the lifestyle table
            s.diagnosis,  # Select diagnosis status from the symptoms table
            CASE 
                WHEN l.physicalactivity <= 3 AND s.diagnosis = '0' THEN 'Low Activity - Diagnosed'  # Low activity and not diagnosed
                WHEN l.physicalactivity BETWEEN 4 AND 6 AND s.diagnosis = '0' THEN 'Moderate Activity - Diagnosed'  # Moderate activity and not diagnosed
                WHEN l.physicalactivity > 6 AND s.diagnosis = '1' THEN 'High Activity - Diagnosed'  # High activity and diagnosed
                WHEN l.physicalactivity <= 3 AND s.diagnosis != '1' THEN 'Low Activity - Not Diagnosed'  # Low activity and not diagnosed (other diagnosis)
                WHEN l.physicalactivity BETWEEN 4 AND 6 AND s.diagnosis != '1' THEN 'Moderate Activity - Not Diagnosed'  # Moderate activity and not diagnosed (other diagnosis)
                WHEN l.physicalactivity > 6 AND s.diagnosis != '1' THEN 'High Activity - Not Diagnosed'  # High activity and not diagnosed (other diagnosis)
                ELSE 'Unclassified'  # If no conditions match, classify as 'Unclassified'
            END AS ActivityDiagnosisGroup  # Create a new column 'ActivityDiagnosisGroup' based on conditions
        FROM 
            lifestyle AS l  # From the lifestyle table (alias 'l')
        JOIN 
            symptoms AS s ON l.patientid = s.patientid  # Join with the symptoms table on patient ID
        ORDER BY 
            ActivityDiagnosisGroup  # Sort the results by the new column 'ActivityDiagnosisGroup'
        LIMIT 25;  # Limit the results to 25 rows
    """)

    # Execute the query and load the result into a DataFrame
    activity_diagnosis = pd.read_sql(query, connection)

# Display the resulting DataFrame
print(activity_diagnosis)  # Print the DataFrame to view the query result

    patientid  physicalactivity diagnosis         ActivityDiagnosisGroup
0        4751           6.32711        no  High Activity - Not Diagnosed
1        4752           7.61988        no  High Activity - Not Diagnosed
2        4753           7.84499        no  High Activity - Not Diagnosed
3        4754           8.42800        no  High Activity - Not Diagnosed
4        4755           6.31046        no  High Activity - Not Diagnosed
5        4783           7.73158        no  High Activity - Not Diagnosed
6        4757           9.25770        no  High Activity - Not Diagnosed
7        4781           8.17244        no  High Activity - Not Diagnosed
8        4784           7.90561        no  High Activity - Not Diagnosed
9        4760           6.44077        no  High Activity - Not Diagnosed
10       4761           8.81995        no  High Activity - Not Diagnosed
11       4778           9.98655        no  High Activity - Not Diagnosed
12       4777           6.50978        no  High Activity - Not Diagnosed
13       6899           6.57099        no  High Activity - Not Diagnosed
14       4765           9.71457        no  High Activity - Not Diagnosed
15       4782           7.78054        no  High Activity - Not Diagnosed
16       4767           7.18289       yes  High Activity - Not Diagnosed
17       4799           9.33836       yes  High Activity - Not Diagnosed
18       4769           7.12794        no  High Activity - Not Diagnosed
19       4801           6.84829       yes  High Activity - Not Diagnosed
20       4771           6.38150       yes  High Activity - Not Diagnosed
21       4772           9.12604        no  High Activity - Not Diagnosed
22       4773           7.67658        no  High Activity - Not Diagnosed
23       4774           6.93473       yes  High Activity - Not Diagnosed
24       4775           7.19893       yes  High Activity - Not Diagnosed

Now we are starting to create multiple new fields that we can save any time as a .csv if needed to access later. Save your result set as a .csv:

In [91]:
# Save result set as .csv file:

# Save the DataFrame to a CSV file
exercise.to_csv('alzheimers_physical_activity_analysis.csv', index=False)

print("CSV file has been saved as 'alzheimers_physical_activity_analysis.csv'")

CSV file has been saved as 'alzheimers_physical_activity_analysis.csv'

**DELETE** ~Caution!~
<br>
You can delete all records from specific tables or set a criteria to delete certain values or NULL values without deleting the table itself. It is okay if you do not execute the code if you have completed all data cleaning steps earlier in the semester.<br>
<br>
If you created autoincrement IDs for any of your data, it is recommended to use TRUNCATE TABLE instead, used the same way. The ID's will automatically reset if needed.<br>
<br>
**Objective:** Delete all data from background table where ethnicity is null.
<br>
**What table(s) are we deleting records from?** background

In [24]:


# with engine.connect() as connection:
#    delete = text("""
#        # DELETE FROM background
        # WHERE ethnicity IS NULL;
#    """)
#    connection.execute(delete)
#    connection.commit()

We can also delete entire tables in MySQL workbench by manually right clicking on the table and DROP TABLE. <br>
MySQL Workbench will prompt you to review the SQL syntax before dropping the table.<br>
The syntax is simple:<br>
DROP TABLE table_name<br>

In [101]:
#Close the database connection :)
connection.close()

**STOP**<br>
Before you submit, did you comment all your code?<br>
Did you answer all of the questions in the markdown cells?<br>
Did you rename the file and write your name at the top of the .pynb?<br>
Attach the .csv file you created with your Blackboard submission. It is preferred that you submit your Github link instead of the file itself.